
/* line 362 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */

/* line 1 : /usr/local/lib/node_modules/stylus/lib/functions/index.styl */

/* line 293 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */

/* line 2 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;margin:0;padding:0}
/* line 7 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
/* line 10 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
body{line-height:1}
/* line 13 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
ol,ul{list-style:none}
/* line 16 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
blockquote,q{quotes:none}
/* line 19 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
blockquote:before,blockquote:after,q:before,q:after{content:none}
/* line 22 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
table{border-collapse:collapse;border-spacing:0}
/* line 27 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */

/* line 38 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */

/* line 39 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
html{font-size:10px;background:#f0ffff;color:#070726;font-family:'Raleway',Helvetica,Arial,sans-serif;min-width:330px}
/* line 47 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.constrainer{width:100%;max-width:100rem;margin:0 auto;text-align:center}
/* line 54 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.hide{display:none}
/* line 58 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */

/* line 59 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.global-header{height:6rem;background:#070726;position:fixed;width:100%;z-index:1;top:0;}
/* line 67 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.global-header .constrainer{text-align:center;position:relative;padding-top:0}
/* line 73 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.global-header nav{display:inline-block;padding-top:1.3rem;}
/* line 77 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.global-header nav li{display:inline-block;font-size:2.3rem;margin-right:2rem;}
/* line 82 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.global-header nav li a{text-decoration:none;color:#f5e6d2;font-weight:300}
/* line 87 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.global-header nav li:last-child{margin-right:0}
/* line 93 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.global-header .stamp{position:absolute;display:inline-block;width:15rem;height:15rem;margin-right:-7.5rem;right:50%;margin-top:4.5rem;z-index:1}
/* line 105 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */

/* line 106 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.frame{width:100%;display:inline-block;text-align:center;padding:13rem 6rem;position:relative;box-sizing:border-box;-moz-box-sizing:border-box;min-height:60rem}
/* line 117 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
p{font-size:1.8rem;line-height:2.4rem;margin-bottom:2.5rem;}
/* line 122 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
p strong{display:block;font-weight:600}
/* line 128 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */

/* line 129 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.names,.date-container{font-family:'Arvo','Palatino Linotype',Palatino,serif}
/* line 133 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.names{font-size:2.5rem}
/* line 136 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.purpose{font-size:2.3rem;font-weight:300;margin-bottom:1rem}
/* line 142 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.date-container{border-top:.5rem solid #070726;padding-top:1rem}
/* line 147 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.day-month-container,.year{display:inline-block;vertical-align:top}
/* line 151 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.day-month-container{width:65%;text-align:left}
/* line 155 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.day{font-size:3rem}
/* line 158 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.number{font-size:4.5rem;line-height:6rem}
/* line 162 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.of{font-size:2.5rem;padding-left:.7rem}
/* line 166 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.month{font-size:2.6rem;line-height:3rem}
/* line 170 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.year{width:30%;border-left:2px solid #070726;font-size:5rem;line-height:4.5rem;padding-left:2%}
/* line 177 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.separator{font-size:2rem;margin-top:1rem;}
/* line 180 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.separator .bar{display:inline-block;width:40%;border-top:1px solid #070726;vertical-align:middle}
/* line 187 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.location{font-size:1.8rem;font-weight:300;padding-top:1rem}
/* line 192 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.more-info{font-size:1.5rem;font-weight:300;padding-top:2rem}
/* line 198 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */

/* line 199 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
#landing-page{padding-top:4rem;}
/* line 202 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
#landing-page .constrainer{padding-top:6rem;padding-bottom:10rem}
/* line 206 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
#landing-page .frame{background:url("../img/frame.png") no-repeat center;background-size:cover}
/* line 212 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */

/* line 213 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
#wedding-page .frame{padding:22rem 6rem 17rem;color:#f5e6d2;background-color:rgba(7,7,38,0.7)}
/* line 218 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
#wedding-page p{font-weight:300}
/* line 221 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
#wedding-page .switch-content{position:relative;min-height:55rem}
/* line 225 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
#wedding-page a{position:absolute;font-size:2.3rem;color:#b87f1d;text-decoration:none;bottom:-5rem;cursor:pointer}
/* line 233 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
#wedding-page .location-section a{right:0}
/* line 236 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */

/* line 237 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
#wedding-page .schedule-section p{font-size:2.3rem;margin-bottom:4rem}
/* line 241 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
#wedding-page .schedule-section strong{display:inline-block}
/* line 244 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
#wedding-page .schedule-section p > span{display:block;font-size:1.6rem;margin-top:1rem;line-height:1.8rem}
/* line 250 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
#wedding-page .schedule-section a{left:0}
/* line 256 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */

/* line 257 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
#registry-page .frame{padding-top:22rem;color:#f5e6d2;background-color:rgba(70,47,27,0.7)}
/* line 262 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
#registry-page p{font-size:2.1rem}
/* line 267 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */

/* line 268 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
@media all and (min-width: 800px){
/* line 269 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
#landing-page{background:url("../img/bgImage.jpg") no-repeat center;background-size:cover;padding-bottom:5rem;}
/* line 274 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
#landing-page .constrainer{padding-top:4rem}
/* line 277 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
#landing-page .frame{height:70rem}
/* line 282 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
#wedding-page{background:url("../img/bgWedding.jpg") no-repeat center;background-size:cover}
/* line 287 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
#registry-page{background:url("../img/bgRegistry.jpg") no-repeat center;background-size:cover}
/* line 292 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.constrainer{text-align:right}
/* line 296 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.global-header{height:5rem;}
/* line 299 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.global-header .constrainer{text-align:left;padding-left:2rem}
/* line 303 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.global-header .stamp{right:32%;margin-top:1rem}
/* line 307 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.global-header nav li{margin-right:6rem}}
/* line 313 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
@media all and (min-width: 1000px){
/* line 314 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */

/* line 315 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.global-header .stamp{right:27%}}
/* line 321 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
@media all and (min-width: 500px){
/* line 322 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.frame{width:55rem;height:90rem;padding:10rem 8rem 17rem}
/* line 328 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.names{font-size:4.8rem}
/* line 331 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.purpose{font-size:4.35rem}
/* line 334 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.day{font-size:6rem}
/* line 337 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.number{font-size:8rem;line-height:8rem}
/* line 341 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.of{font-size:4rem;padding-left:2rem}
/* line 345 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.month{font-size:4.7rem;line-height:5rem}
/* line 349 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.year{font-size:7.5rem;line-height:6.5rem}
/* line 353 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.separator{font-size:4rem}
/* line 356 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.location{font-size:3rem}
/* line 359 : /Users/stocky/Clients/Stocky/weddingSite/stylus/style.styl */
.more-info{font-size:2rem}}