/* - - - RESET - - - */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
  content: none
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* - - - VARIABLES - - - */
lightColor = #f5e6d2;
darkColor = #070726;
midDarkColor = #462F1B;

accentColor = #b87f1d;

light = 300;
normal = 500;
bold = 600;

/* - - - FRAMEWORK - - - */
html {
  font-size: 10px;
  background: azure;
  color: darkColor;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  min-width: 330px;
}

.constrainer {
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
  text-align: center;
}

.hide {
  display: none !important;
}

/* - - - HEADER - - - */
.global-header {
  height: 6rem;
  background: #070726;
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;

  .constrainer {
    text-align: center;
    position: relative;
    padding-top: 0;
  }

  nav {
    display: inline-block;
    padding-top: 1.3rem;

    li {
      display: inline-block;
      font-size: 2.3rem;
      margin-right: 2rem;
      
      a {
        text-decoration: none;
        color: lightColor;
        font-weight: light;
      }
      &:last-child{
        margin-right: 0;
      }
    } 
  }

  .stamp {
    position: absolute;
    display: inline-block;
    width: 15rem;
    height: 15rem;
    margin-right: -7.5rem;
    right: 50%;
    margin-top: 4.5rem;
    z-index: 1;
  }
}

/* - - - PAGE ITEM - - - */
.frame {
  width: 100%;
  display: inline-block;
  text-align: center;
  padding: 13rem 6rem;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  min-height: 60rem;
}

.title {
  position: absolute;
  margin-top: 9rem;
  text-align: center;
  width: 37%;
  display: none;
  max-width: 375px;

  h1 {
    font-weight: light;
    font-size: 5rem;
  }
  h2 {
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    padding-top: 1rem;
    margin: 1rem;
    border-top: 1px solid darkColor;
    display: inline-block;
  }
}

p {
  font-size: 1.8rem;
  line-height: 2.4rem;
  margin-bottom: 2.5rem;
  
  strong {
    display: block;
    font-weight: bold;
  }
}

/* - - - LANDING PAGE TYPOGRAPHY - - - */
.names, .date-container {
  font-family: 'Arvo', 'Palatino Linotype', Palatino, serif;
}

.names {
  font-size: 2.5rem;
}
.purpose {
  font-size: 2.3rem;
  font-weight: light;
  margin-bottom: 1rem;
}

.date-container {
  border-top: .5rem solid darkColor;
  padding-top: 1rem;
}

.day-month-container, .year {
  display: inline-block;
  vertical-align: top;
}
.day-month-container {
  width: 65%;
  text-align: left;
}
.day {
  font-size: 3rem;
}
.number {
  font-size: 4.5rem;
  line-height: 6rem;
}
.of {
  font-size: 2.5rem;
  padding-left: .7rem;
}
.month {
  font-size: 2.6rem;
  line-height: 3rem;
}
.year {
  width: 30%;
  border-left: 2px solid darkColor;
  font-size: 5rem;
  line-height: 4.5rem;
  padding-left: 2%;
}
.separator {
  font-size: 2rem;
  margin-top: 1rem;
  .bar {
    display: inline-block;
    width: 40%;
    border-top: 1px solid darkColor;
    vertical-align: middle;
  }
}
.location {
  font-size: 1.8rem;
  font-weight: light;
  padding-top: 1rem;
}
.more-info {
  font-size: 1.5rem;
  font-weight: light;
  padding-top: 2rem;
}

/* - - - PAGE OVERRIDES - - - */
#landing-page {
  padding-top: 4rem;

  .constrainer {
    padding-top: 6rem;
    padding-bottom: 10rem;
  }
  .frame {
    background: url('../img/frame.png') no-repeat center;
    background-size: cover;
    height: 50rem;
  }
}

#wedding-page {
  .frame {
    padding: 22rem 6rem 17rem;
    color: lightColor;
    background-color: rgba(darkColor, .7);
  }
  p {
    font-weight: light;
  }
  .switch-content {
    position: relative;
    min-height: 55rem;
  }
  a {
    position: absolute;
    font-size: 2.3rem;
    color: accentColor;
    text-decoration: none;
    bottom: -5rem;
    cursor: pointer;
  }
  .location-section a {
    right: 0;
  }
  .schedule-section {
    p {
      font-size: 2.3rem;
      margin-bottom: 4rem;
    }
    strong {
      display: inline-block;
    }
    p > span {
      display: block;
      font-size: 1.6rem;
      margin-top: 1rem;
      line-height: 1.8rem;
    }
    a {
      left: 0;
    }  
  }
}

#registry-page {
  .frame {
    padding-top: 22rem;
    color: lightColor;
    background-color: rgba(midDarkColor, .7);
    
    a {
      text-decoration: none;
      color: lightColor;

      &:hover {
        text-decoration: underline;
      }
      &:visited {
        color: lightColor;
      }
    }
  }

  p {
    font-size: 2.1rem;
  }
}

/* - - - MEDIA QUERIES - - - */
@media all and (min-width: 800px) {
  #landing-page {
    background: url('../img/bgImage.jpg') no-repeat center;
    background-size: cover;
    padding-bottom: 5rem;

    .constrainer {
      padding-top: 4rem;
    }
    .frame {
      height: 70rem;
    }
  }

  #wedding-page {
    background: url('../img/bgWedding.jpg') no-repeat center;
    background-size: cover;
  }

  .title {
    display: block;
    width: 33%;
  }

  #registry-page {
    background: url('../img/bgRegistry.jpg') no-repeat center;
    background-size: cover;

    .frame {
      min-height: 90rem;
    }

    .title {
      color: lightColor;
    }
  }

  .constrainer {
    text-align: right;
  }

  .global-header {
    height: 5rem;

    .constrainer {
      text-align: left;
      padding-left: 2rem;
    }
    .stamp {
      right: 31%;
      margin-top: 1rem;
    }
    nav li {
      margin-right: 6rem;
    }
  } 
}

@media all and (min-width: 1000px) {
  .global-header {
    .stamp {
      right: 27%;
    } 
  }
  .title {
    display: block;
    width: 37%;
  }
}

@media all and (min-width: 500px) {
  .frame {
    width: 55rem;
    padding: 10rem 8rem 17rem;
  }

  .names {
    font-size: 4.8rem;
  }
  .purpose {
    font-size: 4.35rem;
  }
  .day {
    font-size: 6rem;
  }
  .number {
    font-size: 8rem;
    line-height: 8rem;
  }
  .of {
    font-size: 4rem;
    padding-left: 2rem;
  }
  .month {
    font-size: 4.7rem;
    line-height: 5rem;
  }
  .year {
    font-size: 7.5rem;
    line-height: 6.5rem;
  }
  .separator {
    font-size: 4rem;
  }
  .location {
    font-size: 3rem;
  }
  .more-info {
    font-size: 2rem;
  }

  #landing-page .frame {
    height: 70rem;
  }
}